@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação do banner da Dashboard */
@keyframes scroll-x {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll-x 30s linear infinite;
}

/* Pausa a animação se o cliente passar o mouse por cima (Opcional, mas fica premium) */
.animate-scroll:hover {
  animation-play-state: paused;
}